body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.button {
  margin: 30px;
  padding: 20px 50px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}